
**/.terraform/*
*.tfstate
*.tfstate.*

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/
bin/
lib/

dist/
build/

.pytest_cache/
.coverage
htmlcov/


build/payload.zip

.aws/
credentials

.env

.DS_Store